<body>
    <mat-card>
        <mat-card-content>
            <div  mat-card-avatar>
                <mat-icon style="font-size: 3em; color: red">timer</mat-icon>
            </div>
            <mat-divider></mat-divider>
           <p style="padding: 4em">
               Count {{time}}
           </p>    
        </mat-card-content>
        <mat-card-content>
            <mat-card-actions>
               <button mat-button>Start Fast</button>
               <button mat-button>End Fast</button>
           </mat-card-actions>             
        </mat-card-content>
    </mat-card>
</body>
